sudo: required
services:
  - docker

before_install:
  - docker build -t mmumo/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true mmumo/react-test npm test

after_success:
  - docker build -t mmumo/multi-client -f ./client/Dockerfile ./client
  - docker build -t mmumo/multi-nginx ./nginx
  - docker build -t mmumo/multi-server ./server
  - docker build -t mmumo/multi-worker ./worker
  #log into docker cli
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  #- docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD" docker.io
  #take those images and push them to docker hub
  - docker push mmumo/multi-client
  - docker push mmumo/multi-nginx
  - docker push mmumo/multi-server
  - docker push mmumo/multi-worker

